services:

  librechat:
    container_name: LibreChat
    ports:
      - "${PORT}:${PORT}"
    depends_on:
      - mongodb
      - rag_api
    image: ghcr.io/danny-avila/librechat-dev:latest
    restart: always
    user: "${UID}:${GID}"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - HOST=0.0.0.0
      - MONGO_URI=mongodb://mongodb:27017/LibreChat
      - MEILI_HOST=http://meilisearch:7700
      - RAG_PORT=${RAG_PORT:-8000}
      - RAG_API_URL=http://rag_api:${RAG_PORT:-8000}
    volumes:
      - type: bind
        source: ./.env
        target: /app/.env
      - ./images:/app/client/public/images
      - ./uploads:/app/uploads
      - ./logs:/app/logs
      - type: bind
        source: ./librechat.yaml
        target: /app/librechat.yaml
    networks:
      - librechat-network

  mongodb:
    container_name: chat-mongodb
    image: mongo
    restart: always
    user: "${UID}:${GID}"
    volumes:
      - ./data-node:/data/db
    command: mongod --noauth
    networks:
      - librechat-network

  meilisearch:
    container_name: chat-meilisearch
    image: getmeili/meilisearch:v1.12.3
    restart: always
    user: "${UID}:${GID}"
    environment:
      - MEILI_HOST=http://meilisearch:7700
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY=${MEILI_MASTER_KEY}
    volumes:
      - ./meili_data_v1.12:/meili_data
    networks:
      - librechat-network

  vectordb:
    container_name: vectordb
    image: pgvector/pgvector:0.8.0-pg15-trixie
    environment:
      POSTGRES_DB: mydatabase
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    restart: always
    volumes:
      - pgdata2:/var/lib/postgresql/data
    networks:
    - librechat-network

  rag_api:
    container_name: rag_api
    image: ghcr.io/danny-avila/librechat-rag-api-dev-lite:latest
    environment:
      - DB_HOST=vectordb
      - RAG_PORT=${RAG_PORT:-8000}
    restart: always
    depends_on:
      - vectordb
    env_file:
      - .env
    networks:
      - librechat-network

  # LiteLLM Proxy
  litellm:
    image: ghcr.io/berriai/litellm:main-latest
    container_name: litellm
    restart: always
    ports:
      - "4000:4000"
    volumes:
      - ./litellm/litellm-config.yaml:/app/config.yaml
    command: --config /app/config.yaml --port 4000
    environment:
      - LITELLM_MASTER_KEY=sk-1234
      - LITELLM_SALT_KEY=sk-salt-1234
      - AZURE_API_KEY=${AZURE_API_KEY}
      - AZURE_BASE_URL=${AZURE_BASE_URL}
      - AZURE_BASE_URL_OPENAI=${AZURE_BASE_URL_OPENAI}
      - AIRS_API_KEY=${AIRS_API_KEY}
      - AIRS_DEFAULT_PROFILE_NAME=${AIRS_DEFAULT_PROFILE_NAME}
      - AIRS_API_URL=${AIRS_API_URL}
      - LITELLM_DEBUG=true
      - TRUEFOUNDRY_API_KEY=${TRUEFOUNDRY_API_KEY}
      - TRUEFOUNDRY_GATEWAY_URL=${TRUEFOUNDRY_GATEWAY_URL}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - librechat-network
    env_file:
      - .env

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    ports:
      - 3000:8080
    environment:
      - WEBUI_SECRET_KEY=sk-1234
      - ENABLE_OPENAI_API=true
      - OPENAI_API_KEY=sk-1234
      - OPENAI_API_BASE_URL=http://host.docker.internal:4000
    extra_hosts:
      - host.docker.internal:host-gateway
    restart: unless-stopped
    env_file:
      - .env

volumes:
  pgdata2:
  open-webui: {}

networks:
  librechat-network:
    driver: bridge