services:
  n8n:
    image: docker.io/n8nio/n8n:latest
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"
    volumes:
      - n8n_data:/home/node/.n8n
    envronment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - N8N_HOST=0.0.0.0
      - N8N_EDITOR_BASE_URL=https://airs-lab.jansvensen.de
      - N8N_ENDPOINT_REST=/rest
      - N8N_ENDPOINT_WEBHOOK=/webhook
      - WEBHOOK_TUNNEL_URL=https://airs-lab.jansvensen.de
      
volumes:
  n8n_data:
